/* Стили "Подвала" */
footer{
    width: 100%;
    padding: 100px;
}

@media screen and (max-width:991px) {
    footer{
        padding: 70px;
    }    
}

footer span{
    width: 80%;
    color: #C5C5C5;
}