/* Стили события */
.events-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.events-container_title {
    width: 65%;
}

.events-container_title h3 {
    width: 90%;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

@media screen and (max-width:991px) {
    .events-container_title h3 {
        margin-left: 10%;
    }
}

@media screen and (max-width:600px) {
    .events-container_title h3 {
        font-size: 32px;
    }
}

.events-container_collection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    padding: 20px 0px;
    text-align: left;
}

@media screen and (max-width:991px) {
    .events-container_collection {
        display: none;
    }
}

.events-container_collection_colomn {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.events-container_collection span {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (max-width:600px) {
    .events-container_collection span {
        font-size: 16px;
    }
}

.events-container_collection__image {
    margin: 50px 0px;
    width: 100%;
}

.events-container_collection__image img {
    border-radius: 80px;
    width: 100%;
}

.events-container_collection-mobile {
    display: none;
}

@media screen and (max-width:991px) {
    .events-container_collection-mobile {
        display: block;
        width: 55%;
        padding: 15px;
    }

    .events-container_collection-mobile-text {
        margin: 20px 0px;
    }

    .events-container_collection-mobile span {
        display: block;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 20px;
    }
}